<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale="1.0">
    <title>分类管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="css/me.css">
</head>
<body>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/types/input}" class="item">新增</a>
                <a href="#" th:href="@{/admin/type}" class="teal active item">列表</a>
            </div>
        </div>
    </div>
    <!-- 中间内容-->
    <div class="m-padded-tb-large m-container">
        <div class="ui container">
            <div class="ui success  message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示</div>
                <p th:text="${message}">操作成功</p>
            </div>
            <table class="ui table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="type : ${types}">
                        <td th:text="${type.id}">1</td>
                        <td th:text="${type.name}">aaaaaa</td>
                        <td th:text="${type.number}">123</td>
                        <td>
                            <a href="#"  th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui mini teal basic button">编辑</a>
                            <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui mini red basic  button">删除</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <th colspan="6" >
                        <div class="ui mini  teal pagination menu">
                            <a th:href="@{/admin/type(pageindex=${pageindex}-1)}"  th:if="${not #strings.isEmpty(flag2)}" class="item">上一页</a>

                            <a th:href="@{/admin/type(pageindex=${pageindex}+1)}" th:if="${not #strings.isEmpty(flag1)}" class="item">下一页</a>
                        </div>
                        <a href="#"  th:href="@{/admin/types/input}" class="ui mini right floated teal basic button">新增</a>
                    </th>
                </tfoot>
            </table>
        </div>

    </div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown({
        on : 'hover'
    });
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
</body>
</html>