<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-DFRZ</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet"  th:href="@{/css/font.css}">
    <link rel="stylesheet"  th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/plugins/jquery/jquery.min.js}" ></script>
    <script  th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="L_uname" class="layui-form-label">
                <span class="x-red">*</span>用户名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_uname" name="uname" required="" lay-verify="uname"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>将会成为您唯一的登入名
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_upass" class="layui-form-label">
                <span class="x-red">*</span>密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_upass" name="upass" required="" lay-verify="upass"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                3到16个字符
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>确认密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="test1" class="layui-form-label">
                上传头像
            </label>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <!--头像图片预览-->
                <img id="img_headpic" src="/images/default.jpg" width="100px" height="100px">
                <input type="hidden" id="headpic" name="headpic" value="default.jpg"/>
            </div>
        </div>

        <!--权限等级-->
        <div class="layui-form-item">
            <label for="L_ulevel" class="layui-form-label">权限等级</label>
            <div class="layui-input-inline">
                <input type="text" id="L_ulevel" name="ulevel" class="layui-input">
            </div>
        </div>

        <!--真实姓名-->
        <div class="layui-form-item">
            <label for="L_realname" class="layui-form-label">真实姓名</label>
            <div class="layui-input-inline">
                <input type="text" id="L_realname" name="realname" class="layui-input">
            </div>
        </div>

        <!--性别-->
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男">
                <input type="radio" name="sex" value="女" title="女">
                <input type="radio" name="sex" value="保密" title="保密" checked>
            </div>
        </div>

        <!--出生（年-月-日）-->
        <div class="layui-form-item">
            <label for="L_born" class="layui-form-label">出生</label>
            <div class="layui-input-inline">
                <input type="text" id="L_born" name="born" class="layui-input" placeholder="yyyy-mm-dd">
            </div>
        </div>

        <!--邮箱-->
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
                <input type="text" id="L_email" name="email" class="layui-input">
            </div>
        </div>

        <!--居住地-->
        <div class="layui-form-item">
            <label for="L_address" class="layui-form-label">居住地</label>
            <div class="layui-input-inline">
                <input type="text" id="L_address" name="address" class="layui-input">
            </div>
        </div>

        <!--个性网址-->
        <div class="layui-form-item">
            <label for="L_website" class="layui-form-label">个性网址</label>
            <div class="layui-input-inline">
                <input type="text" id="L_website" name="website" class="layui-input">
            </div>
        </div>

        <!--职业-->
        <div class="layui-form-item">
            <label class="layui-form-label">职业</label>
            <div class="layui-input-block">
                <input type="radio" name="profession" value="学生" title="学生">
                <input type="radio" name="profession" value="上班族" title="上班族">
                <input type="radio" name="profession" value="经商" title="经商">
                <input type="radio" name="profession" value="务农" title="务农">
                <input type="radio" name="profession" value="经商" title="经商">
                <input type="radio" name="profession" value="其他" title="其他" checked>
            </div>
        </div>

            <!--个人介绍-->
        <div class="layui-form-item">
            <label for="L_udescribe" class="layui-form-label">个人介绍</label>
            <div class="layui-input-inline">
                <input type="text" id="L_udescribe" name="udescribe" class="layui-input">
            </div>
        </div>


<!--===============================================================================-->

        <!--提交按钮-->
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="add" lay-submit="">
                增加
            </button>
            <button type="button" class="layui-btn layui-btn-danger">重置</button>
        </div>
    </form>
</div>


<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer;

        //自定义验证规则
        form.verify({
            uname: function(value){
                if(value.length < 3){
                    return '用户名至少得3个字符啊';
                }
            }
            ,upass: [/(.+){3,12}$/, '密码必须3到12位']
            ,repass: function(value){
                if($('#L_upass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
        });

        //监听提交
        form.on('submit(add)', function(data){
            console.log(data);
            //Ajax异步，提交数据
            $.ajax({
                url:"/user/doAdd",
                dataType:"json",
                data:data.field,
                success:function (data) {
                    console.log("data.data= 【"+JSON.stringify(data.field));
                    if (data.code == 0) {
                        layer.alert("增加成功", {icon: 6}, function () {
                            parent.location.reload();   //修改后刷新父界面
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                    }
                    else {
                        layer.alert("增加失败")
                    }
                }

            });
            return false;
        });


    });
</script>

<script>
    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '/user/uploadHeadPic' //上传接口
            ,done: function(res){
                //上传完毕回调
                layer.msg("上传成功");
                var hd=res.data.src;
                console.log("headpic:  【"+hd);  //child.jpg
                $("#img_headpic").attr("src","/user/"+hd);
                $("#headpic").val(hd);
            }
            ,error: function(){
                //请求异常回调
                layer.msg("上传失败");
            }
        });
    });
</script>

</body>
</html>