<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.login.dao.UserMapper" >


    <select id="SelectByUser" parameterType="com.example.login.bean.User" resultType="com.example.login.bean.User">
        select * from user where uname=#{uname} and upass=#{upass}
    </select>
    <select id="SelectById" parameterType="integer" resultType="com.example.login.bean.User">
        select * from user where id=#{id}
    </select>

    <insert id="InsertByUser" parameterType="com.example.login.bean.User">
        insert into user(uname,upass) values(#{uname},#{upass})
    </insert>

    <insert id="InsertByUserr" parameterType="com.example.login.bean.User">
        insert into user(uname,upass,pic) values(#{uname},#{upass},#{pic})
    </insert>

    <select id="SelectAll" resultType="com.example.login.bean.User">
        select * from user
    </select>

    <delete id="DelectByUser" parameterType="com.example.login.bean.User">
        delete from user where uname=#{uname} and upass=#{upass}
    </delete>






</mapper>